* {
	margin: 0;
	padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#container {
	display: block;
}

.form_head {
    margin-top: 50px;
    /* margin-left: 200px; */
    color: #AD9C90;
	font-size: 30px;
    justify-content: center;
    text-align: center;
	font-weight: bold;
}

.form {
    /* text-align: left; */
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.contact_lab {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #E7DBCB;
    margin-top: 25px;
}

.contact_input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 35px;
    width: 100%;
    background-color: #292E5C; 
    color: #ffffff;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.contact_submit {
    background-color: #292E5C; 
    border: 1px solid #C4C4C4;
	padding: 10px; 
	text-decoration: none;
    border-radius: 10px;
    /* margin-top: 10px;
    margin-left: 70px; */
    margin: auto;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    color: #C4C4C4;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.contact_submit:focus{
    outline: none;
} 

.contact_submit:active{
    background-color: #292E5C; 
}

.contact_submit:hover{
    background-color: #21222E; 
}  

.submit {
    color: #C4C4C4; 
    text-decoration: none;
    text-align: center;
    padding: 5px;
}